# Dépendances Node.js
node_modules/


# Variables d’environnement et secrets
.env
.env.*
!.env.example

# Journaux npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers temporaires
*.tmp
*.temp
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Éditeurs
.vscode/
.idea/